@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-theme="default"] {
  --theme-primary: #D2691E;
  --theme-secondary: #78350F;
  --theme-background: #F5E9D4;
  --theme-text: #ffffff;
  --theme-body: rgb(13, 89, 175);
}

[data-theme="chocolate"] {
  --theme-primary: #6e2f04;
  --theme-secondary: #3a1c06;
  --theme-background: #c25f0d;
  --theme-text: #ffffff;
  --theme-body: rgb(175, 156, 13);
}



/* [data-theme="default"]{
  --backgroundImg: url('./../images/blue.png');
}

[data-theme="theme2"]{
  --backgroundImg: url('./../images/red.png');
} */