@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./../images/blue.png'); 
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;  
}

.upgradeicon{
  background-color: rgb(39, 236, 147);
}